langchain
langchain-community
langchain-openai
langchain-ollama
langgraph
chromadb
pandas
matplotlib
sqlalchemy
python-dotenv
streamlit
openai
tiktoken
sentence-transformers
langchain-text-splitters
langchain-huggingface
